@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  background-color: #FDF2E9;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('textura.webp');
  background-repeat: repeat;
  background-size: 320px auto;
  opacity: 0.12;
  pointer-events: none;
  z-index: -1;
}

@media (max-width: 768px) {
  body::before {
    position: absolute; /* evita fixed no mobile */
    background-blend-mode: normal; /* remove blend */
    opacity: 0.10;
  }
}
