@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #FDF2E9;
  min-height: 100vh;
}
